*{
    margin:0;
    padding: 0;
    font-family: 'Lexend', sans-serif;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    overflow: hidden;
}

#header{
    height: 100vh;
    width: 100%;
    background: linear-gradient(rgba(53, 52, 52, 0.6), rgba(53, 52, 52, 0.6)), url(images/image.jpg) no-repeat;
    background-position: center;
    position: relative;
    background-size: cover;
}

.container{
    padding: 10px 10%;
}

nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.heading{
    color: blueviolet;
    margin: 10px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    color: aliceblue;
    text-decoration: none;
    font-size: 20px;
    position: relative;
}

.quote{
    text-align: center;
    color: aliceblue;
    font-size: 20px;
    margin-top: 20vh;
}

.quote mark{
    font-size: large;
}

/* CSS */
.button-29 {
    margin: 5vh;
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #bd5aff 0, blueviolet 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.button-29:focus {
  box-shadow: #cd3ce0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #bf3ce0 0 -3px 0 inset;
}

.button-29:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, rgb(75, 30, 118) 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-29:active {
  box-shadow: #e03cd0 0 3px 7px inset;
  transform: translateY(2px);
}





